body {
    font-family: 'Karla', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    background-color:hsl(204, 43%, 93%);
}

.card-container {
    text-align: left;
    display: grid;
    gap: 0;
    grid-template-columns: auto;
    margin-top: 100px;
    margin-left: 500px;
    padding: 0px;
    width: 637px;
    height: 473px;
    box-shadow: 1px 1px 10px lightblue;
}

/*
.subscription {
    grid-column: span 2;
}
*/

.One {
    grid-column: span 2;
    background-color: white;
    padding: 20px;
}

.Two {
    background-color:  hsl(179, 62%, 43%);
    padding: 20px;
   
}

.Three {
    background-color: #4abebd;
    padding: 20px;
    color: white;

}