body {
    font-family: 'Karla', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    background-color:#ddeaf2; 
    align-items: center;
}

.container {
    text-align: center;
    background-color: white;
    display:inline-block;
    max-width: 1440px;
    border-radius:15px;
    margin-top: 200px;
    
}


.community {
    background-color: white;
    text-align: left;
    margin-bottom: 30px;
    padding: 10px;
    padding-top: 10px;
    border: 1px solid;
}

.subwhyus {
    display:grid;
    column-gap: 20px;
    justify-content: space-between;
    background-color: red;
    text-align: left;
    border: 1px solid;
    
}

/*
.whyus {
    background-color: #4abebd;
    display: inline-table;
    text-align: left;
    margin-top: 20px;
    padding-top: 10px;
}
*/ 
p {
    color: hsl(218, 22%, 67%);
}

footer {
    background-color: grey;
    max-width: 1440px;
    margin-top: 20px;
}